$input-border-width: 2px;

input {
  border: $input-border-width solid $black;
  padding: $default-padding;
  width: 100%;

  &:focus {
    outline: $input-border-width solid $gold;
    outline-offset: 0;
  }
}
