.dg_icon-button {
  border: 1px solid #333333;
  background-color: #ffffff;
  color: #333333;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.dg_icon-button i {
  font-size: 36px;
  color: #feb30c;
  display: block;
}

.dg_icon-button:hover,
.dg_icon-button:hover i {
  color: #ffffff;
}

.dg_icon-button:hover {
  background-color: #002280;
}
